.button {
    -fx-background-color: linear-gradient(#A3803E, #61481B);
    -fx-background-radius: 50;
}

.button:hover{
    -fx-background-color: linear-gradient(#615041, #292019);
    -fx-background-radius: 50;
}

.root{
    -fx-font-size: 9pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.day{
    -fx-border-color: #0A5E07;
    -fx-padding: 0;
    -fx-alignment: CENTER;
}

.panel{
    -fx-alignment: CENTER;
}

.activities{
    -fx-border-color: #76AD74;
    -fx-padding: 50;
    -fx-alignment: CENTER;
}

